name: Deploy Uliyar to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node 20
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Build Backend & Frontend
      run: |
        # Build Backend (Install deps)
        cd server
        npm install
        cd ..
        
        # Build Frontend
        npm install
        npm run build

    - name: Prepare Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: mkdir -p /home/ubuntu/uliyar_deploy_temp && chmod 777 /home/ubuntu/uliyar_deploy_temp

    - name: Upload Artifacts
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "server/,dist/"
        target: "/home/ubuntu/uliyar_deploy_temp"
        timeout: 300s

    - name: Deploy & Restart Background Services
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        timeout: 120s
        script: |
          set -e
          echo "Deploying..."
          
          # Backend
          sudo cp -r /home/ubuntu/uliyar_deploy_temp/server/* /var/www/uliyar/server/
          cd /var/www/uliyar/server
          sudo npm install --production
          
          # Frontend
          sudo rm -rf /var/www/uliyar/dist/*
          sudo mkdir -p /var/www/uliyar/dist
          sudo cp -r /home/ubuntu/uliyar_deploy_temp/dist/* /var/www/uliyar/dist/
          
          rm -rf /home/ubuntu/uliyar_deploy_temp

          # Restart Backend
          echo "Restarting Backend..."
          sudo pm2 restart uliyar-backend || sudo pm2 start index.js --name uliyar-backend -- port 8082
          sudo pm2 save
          
          sudo systemctl reload apache2
          echo "Done!"
